@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/variables' as *;



/* .no-pt {
  padding-top: 0 !important;
} */

.pb-5 {
  padding-bottom: 0rem !important;
}

.py-5 {
  padding-top: 0rem !important;
  padding-bottom: 1.5rem !important;
}