@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/variables' as *;
.install-button {
  position: relative;
  color: #FF4500;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 1.7rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0 solid transparent;
  transition: box-shadow 0.3s ease;
box-shadow: 0 0 0 0 rgba(255, 69, 0, 0.75);
  animation: pulseAnimation 1.2s infinite;

}

@keyframes pulseAnimation {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 69, 0, 0.75);
    /* Estado inicial con sombra sólida */
  }

  100% {
    box-shadow: 0 0 0 10px rgba(255, 69, 0, 0);
    /* Estado final sin sombra */
  }
}