@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/variables' as *;
/* .container {
  bottom: 70px;
    position: fixed;
    right: 10px;
    -webkit-transition: top .4s ease;
    -moz-transition: top .4s ease;
    -ms-transition: top .4s ease;
    transition: top .4s ease;
    z-index: 100000;
  


  &__logo {
    
  }

  .btn-whatsapp {
    background-color: #43c358;
      border-radius: 5px;
      display: inline-block;
      line-height: 100%;
      padding: 10px 15px;
      position: relative;
  }

  .whatsapp__icon {
  
}
  } */