@import '../../assets/styles/_mixins.scss';
@import '../../assets/styles/_variables.scss';

.install-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darkblue;
  }
}