.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Contenedor centrado usando Flexbox */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  z-index: 9999;
  /* Asegura que el loader esté por encima de otros elementos */
  flex-direction: column;
  /* Agrega esta línea para apilar los elementos verticalmente */
}

/* Cuadrícula 3x3 */
.square-grid {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: repeat(3, 20px);
  gap: 5px;
  margin-bottom: 20px;
  /* Espacio entre la cuadrícula y el spinner */
}

.square {
  width: 20px;
  height: 20px;
  background-color: #E74C89;
  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    background-color: #E74C89;
  }

  50% {
    background-color: #3498db;
  }

  100% {
    background-color: #f39c12;
  }
}

.square:nth-child(1) {
  animation-delay: 0s;
}

.square:nth-child(2) {
  animation-delay: 0.2s;
}

.square:nth-child(3) {
  animation-delay: 0.4s;
}

.square:nth-child(4) {
  animation-delay: 0.6s;
}

.square:nth-child(5) {
  animation-delay: 0.8s;
}

.square:nth-child(6) {
  animation-delay: 1s;
}

.square:nth-child(7) {
  animation-delay: 1.2s;
}

.square:nth-child(8) {
  animation-delay: 1.4s;
}

.square:nth-child(9) {
  animation-delay: 1.6s;
}