@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/variables' as *;

.site-footer {
  margin-bottom: -20px;
  background: $footer-bg;
  color: $grey-color;

  &__header {
    text-align: center;
    margin-bottom: 1rem;

    @include atLgScreen {
      text-align: left;
    }
  }

  &__logo {
    width: 25%;
    display: block;
    margin: 0 auto 1rem auto;

    @include atMdScreen {
      width: 25%;
    }

    @include atLgScreen {
      margin: 0;
      width: 25%;
    }
  }

  &__title {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    text-align: center;

    @include atSmScreen {
      margin-top: 2rem;
    }

    @include atMdScreen {
      margin-top: 2rem;
    }

    @include atLgScreen {
      margin-top: 2rem;
    }
  }

  &__text {
    font-size: 0.8rem;
    margin-bottom: -2rem;
    text-align: center;

    @include atSmScreen {
      margin-bottom: 1rem;
    }

    @include atMdScreen {
      margin-bottom: 1rem;
    }

    @include atLgScreen {
      margin-bottom: 1rem;
    }
  }

  &__form {
    text-align: center;
    margin-top: 2rem;

    @include atMdScreen {
      text-align: center;
    }

    @include atLgScreen {
      text-align: center;
    }
  }

  &__input {
    padding: 0.8rem 0.8rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background: #2c2c2c;
    margin-bottom: 1rem;
  }

  &__btn {
    background: $main-red;
    color: $main-white;
    border: none;
    outline: none;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
  }

    &__contact {
      margin-top: 2rem;
  
      // Ocultar en dispositivos más pequeños (menos de 576px)
      @include atSmallestScreen {
        display: none;
      }
  
      // Mostrar en pantallas medianas y grandes (a partir de 576px)
      @include atSmScreen {
        display: block;
      }

    &-content-title {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &-content-text {
      margin: 0.25rem 0;
    }
  }

  &__rights {
    display: inline-block;
    margin: 1rem 0;
    font-size: 0.8rem;

    &--author {
      color: $main-white;
    }

    @include atLgScreen {
      margin: 0;
    }
  }

  &__footer {
    text-align: center;
  }

  &__footer img {
    margin: 0 2px 0 0;
  }
}

.container__btc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__btc img {
  text-align: center;
  margin-bottom: 1rem;
}