@use './assets/styles/mixins' as *;
@use './assets/styles/variables' as *;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: Roboto, sans-serif;
  scrollbar-width: none;
 /*  background-color: #fff;  */
}

.singleProduct__desc h1,
.singleProduct__desc h2,
.singleProduct__desc h3,
.singleProduct__desc h4,
.singleProduct__desc h5,
.singleProduct__desc h6 {
  text-align: left;
}

 * app {
  min-height: 100vh;
  /* Ajusta la altura del contenedor principal al 100% del viewport */
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  
}




* {
   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

* {
  text-decoration: none;
}

a {
  /* color: #2098f3; */
  color: $main-red;
  text-decoration: none;
  word-wrap: break-word;
  cursor: pointer;
}

a:hover {
  color:$link-hover;
 
  
  text-decoration: none;
}




ul {
  list-style: none;
}

.btn {
  padding: 0.5rem 0.8rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  cursor: pointer;
  display: inline-block;
  background: $main-white;

  @include atMdScreen {
    font-size: 1rem;
  }

  @include atLgScreen {
    padding: 0.8rem 1rem;
  }
}

.btn-black {
  background: $main-black;
  color: $main-white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: none;
  }
}

.btn-black-continue {
  background: $main-red;
  color: $main-white;
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s linear;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  font-weight: 500;

  

  &:hover {
    background-color: $link-hover !important;
    
    box-shadow: none;
  }
  
    @mixin atSmallestScreen {
      line-height: 40px;
    }
  
    @mixin atSmScreen {
      line-height: 40px;
  
    }

    @include atMdScreen {
      line-height: 40px;

      
    }
  
    @include atLgScreen {
      line-height: 18px;
      font-size: 16px;
      font-weight: 600;

      
    }

}

.btn-pink-hero {
  background: $main-black;
  color: $main-white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s linear;
  

  &:hover {
    box-shadow: none;
  }

  

}


.btn-pink-pay {
  background: $main-red;
  color: $main-white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s linear;
  width: 70vw;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    box-shadow: none;
  }

    @mixin atSmallestScreen {
      line-height: 40px;
    }
  
    @mixin atSmScreen {
      line-height: 40px;
  
    }
  
    @include atMdScreen {
      line-height: 40px;
    }
  
    @include atLgScreen {
     /*  background: $main-black; */
      line-height: 18px;
      font-size: 16px;
      width: 40vw;
    }

}


.btn-grey {
  color: $main-black;
  background: $line-color;
  border-radius: 4rem;
  box-shadow: 0px 0px 13px 2px rgba(197, 17, 48, 0.5);
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: none;
  }
}

.btn-primary {
  background: $main-red;
  color: $main-white;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.btn-primary {
  background: $addProduct-color;
  color: $main-white;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.section-bg {
  background: $section-bg;
  padding-bottom: 2.5rem !important;
}

/**
  Link
**/

/* a {
  color: #2098f3;
  text-decoration: none;
  word-wrap: break-word;
  cursor: pointer;
}

a:hover {
  color: #4EDD5E;
  text-decoration: none;
} */


/* --Btn login-- */

.btnL {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 20px;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  position: relative;
  /* color: rgba(0,0,0,.65); */
  /*  background-color: transparent; */
  border-color: #e8e8e8;
  outline: none;
}

.btn-block {
  display: block;
  width: 100%;
}

/* .btn-lg {
  padding: 0 30px;
} */

.btn-primary {
  color: #fff;
  /* background-color: #2098f3;
  border-color: #2098f3; */
  background: $main-red;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #222;
  border-color: #222;
}

.btn-success {
  color: #fff;
  background-color: #C51130;
  border-color: #C51130;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #C51130;
  border-color: #C51130;
}


.btn-link {
  border: none;
  height: 34px;
  padding: 0 15px;
}

.btn-link:hover {
  background-color: rgba(158, 158, 158, 0.20);
}

/* --Form login-- */

.form-item {
  margin-bottom: 18px;
}

.form-item .btn {
  cursor: pointer;
}

.form-item label {
  font-size: 0.85em;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, .65);
}

.form-control {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 45px;
  font-size: 0.87em;
  line-height: 45px;
  color: rgba(0, 0, 0, .80);
  background-color: #fff;
  background-image: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  transition: all .3s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


.form-control:hover,
.form-control:focus,
.form-control:active {
  border-color: #40a9ff;
  outline: 0;
  border-right-width: 1px !important;
}

.form-control:focus,
.form-control:active {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
}

.form-control.invalid {
  border-color: #f5222d;
}

.form-control.invalid:focus,
.form-control.invalid:active {
  box-shadow: 0 0 0 2px rgba(245, 34, 45, .2);
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f6f8fa;
  opacity: 1;
}

.form-label {
  margin-bottom: 10px;
}

/**
  Or separator
**/

.or-separator {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1em;
}

.or-text {
  position: absolute;
  left: 46%;
  top: 0;
  background: #fff;
  padding: 10px;
  color: rgba(0, 0, 0, .45);
}

:root {
  --swiper-theme-color: $main-red !important;
  /* Cambia $main-red por cualquier color de tu paleta */
}