/* Color principal */
.color-principal {
  background-color: #C51130;
  color: #fff;
  /* Texto en color principal */
}

/* Color complementario 1 */
.color-complementario-1 {
  background-color: #59B4A5;
  color: #fff;
  /* Texto en color complementario 1 */
}

/* Color complementario 2 */
.color-complementario-2 {
  background-color: #E6D722;
  color: #000;
  /* Texto en color complementario 2 */
}

/* Color complementario 3 */
.color-complementario-3 {
  background-color: #E55959;
  color: #fff;
  /* Texto en color complementario 3 */
}

/* Color complementario 4 */
.color-complementario-4 {
  background-color: #5E4EDD;
  color: #fff;
  /* Texto en color complementario 4 */
}