$main-white: #FFFFFF; // Blanco puro para limpieza y contraste.
$main-black: #000000; // Negro absoluto para textos y elementos principales.
$main-red: #C51130; // Rojo intenso (color principal del logo) para destacar.
$main-pink: #E74C89; // Un rosa vibrante y sensual para toques femeninos.
$accent-green: #A3D56A; // Verde más suave para áreas secundarias o mensajes positivos.
$text-color: #4D4D4D; // Gris oscuro para una lectura cómoda.
$grey-color: #AAAAAA; // Gris medio para elementos menos destacados.
$border-color: #DDDDDD; // Gris claro para bordes suaves y sutiles.
$line-color: #E5E5E5; // Gris tenue para separadores y líneas.
$brown-color: #B9654B; // Marrón cálido para contrastes o elementos naturales.
$section-bg: #F7F7F7; // Fondo neutro para secciones claras.
$footer-bg: #1B1B1B; // Un negro sutil con un toque cálido para el pie de página.
$button-hover: #A90E29; // Rojo oscuro para el estado hover en botones.
$link-hover: #E64A78; // Rosa brillante para resaltar enlaces al pasar el mouse.
$main-yellow: #FFD700; // Un amarillo brillante similar al oro.
$etiqueta-new: #E32F50;
$addProduct-color: #C51130;


$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";