
@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/variables' as *;
/* .Button_install {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #E6D722;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

@include atLgScreen {
    
  }

  @include atXLScreen {
   
  }


  @include atSmScreen {
  top: 50%;
  left: 50%;
      transform: translate(-50%, -50%);
  }


}

.Button_install:hover {
  background-color: #59B4A5;
}

  */