@use '../../assets/styles/mixins' as *;
@use '../../assets/styles/variables' as *;

.Payment {
  font-family: Roboto, sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  min-height: 60vh;
  justify-content: center;
  align-items: center;

  @include atLgScreen {
    min-height: 60vh;
    }
  
    @include atMdScreen {
      min-height: 60vh;
    }
  
    @include atLgScreen {
     
      min-height: 60vh;
    }
  
    @include atXLScreen {
    min-height: 60vh;
    }


&__content {
  margin: auto;
  justify-content: space-between;
  align-content: space-between;

  @include atLgScreen {
      width: 70vw;
    }
  
    @include atMdScreen {
      width: 70vw;
    }
  
    @include atLgScreen {
      width: 70vw;
      min-height: 60vh;
    }

    @include atXLScreen {
      width: 70vw;
    }

}
&__content h3{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 1rem 0 1rem 0;

}


&__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
&__item .fas {
  margin: 0 0 0 10px;
  color: rgba(0,0,0,0.4);
  cursor: pointer;
}
&__item button {
 
  background-color: transparent;
  border: none;
  outline: none;
  
}

.Payment-button {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
  
}

&__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}

&__element h4 {
  
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

&__elements {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}
&__elements h4 {
  margin: 1rem 0 1rem 0;
}
}